body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #9da2a7;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#searchButton {
    margin: 0px 0px 0px 5px;
}

#main-container {
    margin: 10px 0px 10px 0px;
}

#main {
    width: 75vw;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-grow: 1;
    color: #6f7580;
    width: 340px;
    background-color: #f9faf9;
    margin: 20px 15px 20px 0px;
    -webkit-box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.43);
    box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.43);
}

/* @media (min-width:1877px) {
    .card:last-of-type {
        flex-grow: 0;
    }
} */

.cover-art {
    position: relative;
    width: 128px;
    height: auto;
    margin: -10px 0px 15px -10px;
    -webkit-box-shadow: 6px 10px 24px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 6px 10px 24px 0px rgba(0,0,0,0.44);
    box-shadow: 6px 10px 24px 0px rgba(0,0,0,0.44);
}

.book-title {
    font-weight: bold;
}

.text-div {
    margin-left: 20px;
}

.float-right {
    float: right;
}
